body
{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#score{
    display: inline-block;
}

#box
{
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: none;
    font-size: 44px;
    font-family: 'Square Peg', cursive;
    font-weight: bold;
}
div
{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}
canvas{
    display: block;
    margin:0 auto;
}

h1
{
    border: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Square Peg', cursive;
    font-size: 70px;
    font-weight: 600;
    background-image: conic-gradient( #553c9a 0%, #553c9a 33%, #ee4b2b 33%, #ee4b2b 66%, #00c2cb 66%, #00c2cb 99%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),3px 4px 4px rgba(179, 147, 211, 0.15),4px 6px 4px rgba(179, 147, 211, 0.2),5px 8px 4px rgab(179, 147, 211, 0.25);    
}
